
.header-website{
    background-color: var(--r-bg-headerWebsite);
    height: var(--r-h-headerWebsite);
    width: var(--r-w-headerWebsite);
}

.logowebsite{
    position: var(--headerWebsite-pos-logoWebsite);
    align-items: var(--headerWebsite-alignI-logoWebsite);
    align-content: var(--headerWebsite-alignC-logoWebsite);
    top: var(--headerWebsite-top-logowebsite);
    left: var(--headerWebsite-left-logowebsite);
    transform: 
    translate(
        var(--headerWebsite-tX-logowebsite), 
        var(--headerWebsite-tY-logowebsite));
}

.logowebsite span{
    color: var(--r-cl-content);
    font-family: Topicname;
    font-size: var(--headerWebsite-fontS-logoWebsite);
}

.connect{
    margin: var(--headerWebsite-margin-connect);
    padding: var(--headerWebsite-padding-connect);
    height: var(--headerWebsite-height-connect);
    width: var(--headerWebsite-height-connect);
    padding-left: var(--headerWebsite-ppdL-connect);
}

.connect div[class^="grid-item"]{
    position: var(--headerWebsite-connect-pos-gridItem);
    margin: var(--headerWebsite-connect-margin-gridItem);
    cursor: var(--headerWebsite-connect-cursor-gridItem);
}

.grid-item1{grid-area: var(--headerWebsite-connect-location-gridItem1);}
.grid-item2{grid-area: var(--headerWebsite-connect-location-gridItem2);}
.grid-item3{grid-area: var(--headerWebsite-connect-location-gridItem3);}

.call-us{
    position: var(--headerWebsite-pos-callUs);
    right: var(--headerWebsite-right-callUs);
    top: var(--headerWebsite-top-callUs);
    transform: var(--headerWebsite-transf-callUs);
    font-size: var(--headerWebsite-fontS-callUs);
    color: var(--r-cl-content);
    font-family: Button;
    width: var(--headerWebsite-width-callUs);
    height: var(--headerWebsite-height-callUs);
    border-radius: var(--headerWebsite-borderRadius-callUs);
    box-sizing: var(--headerWebsite-boxSizing-callUs);
    background-color: var(--r-bg-button);
    transition-property: var(--headerWebsite-transiProperty-callUs);
    transition-duration: var(--headerWebsite-transiDuration-callUs);
    transition-delay: var(--headerWebsite-transiDelay-callUs);
    transition-timing-function: var(--headerWebsite-transiTFunc-callUs);
    text-align: var(--headerWebsite-textA-callUs);
    justify-content: var(--headerWebsite-justifyC-callUs);
    cursor: var(--headerWebsite-cursor-callUs);
}

.call-us span{
    line-height: var(--headerWebsite-callUs-lineH-text);
}

.call-us:hover{
    letter-spacing: var(--headerWebsite-letterS-callUs_Hover);
}
.call-us:hover::after{
    content: var(--headerWebsite-content-callUs_HoverAfter);
}