@keyframes changebackground {
    0%{background-image: url('../../../asserts/image/201088.webp');background-position: 0px -90px;}
    12.5%{background-position: 0px -40px;}
    25%{background-image: url('../../../asserts/image/201089.webp')}
    37.5%{background-position: 0px -10px}
    50%{background-image: url('../../../asserts/image/201090.webp')}
    62.5%{background-position: 0px -150px;}
    75%{background-image: url('../../../asserts/image/201091.jpg');}
}

.content-website .introduction{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('../../../asserts/image/201088.webp');
    background-position: 0px -90px;
    animation-name: changebackground;
    animation-duration: 20s;
    animation-timing-function: infinite;
    animation-delay: 8s;
}

.content-website .introduction .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;align-items: center;
    justify-content: center;
    color: var(--coloroftext);
}

.content-website .introduction .text h1{
    font-family: MerriweatherLight;
    font-size: 2.15rem;
}

.content-website .introduction .text p{
    display: inline-block;
    font-family: MerriweatherLightItalic;
    font-size: 1.35rem;
    width: 50%;
}