.content-website .introduction div[class^="back"]{
    width: var(--contentWebsite-introduction-width-back);
    z-index: var(--contentWebsite-introduction-zIndex-back);
    position: var(--contentWebsite-introduction-pos-back);
}

.content-website .introduction div[class^="back"] img{
    opacity: var(--contentWebsite-introduction-back-opacity-img);
    width: var(--contentWebsite-introduction-back-width-img);
}
.content-website .introduction .back1 img{
    animation-name: var(--contentWebsite-introduction-back1-animName-img);
    animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    animation-delay: var(--time-begin);
    animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -o-animation-name: var(--contentWebsite-introduction-back1-animName-img);
    -o-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -o-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -o-animation-delay: var(--time-begin);
    -o-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -o-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -moz-animation-name: var(--contentWebsite-introduction-back1-animName-img);
    -moz-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -moz-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -moz-animation-delay: var(--time-begin);
    -moz-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -moz-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -webkit-animation-name: var(--contentWebsite-introduction-back1-animName-img);
    -webkit-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -webkit-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -webkit-animation-delay: var(--time-begin);
    -webkit-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -webkit-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    filter: var(--contentWebsite-introduction-back1-filter-img);
}
.content-website .introduction .back2 img{
    animation-name: var(--contentWebsite-introduction-back2-animName-img);
    animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    animation-delay: var(--time-begin);
    animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -o-animation-name: var(--contentWebsite-introduction-back2-animName-img);
    -o-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -o-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -o-animation-delay: var(--time-begin);
    -o-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -o-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -moz-animation-name: var(--contentWebsite-introduction-back2-animName-img);
    -moz-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -moz-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -moz-animation-delay: var(--time-begin);
    -moz-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -moz-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -webkit-animation-name: var(--contentWebsite-introduction-back2-animName-img);
    -webkit-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -webkit-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -webkit-animation-delay: var(--time-begin);
    -webkit-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -webkit-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    filter: var(--contentWebsite-introduction-back2-filter-img);
}
.content-website .introduction .back3 img {
    animation-name: var(--contentWebsite-introduction-back3-animName-img);
    animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    animation-delay: var(--time-begin);
    animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -o-animation-name: var(--contentWebsite-introduction-back3-animName-img);
    -o-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -o-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -o-animation-delay: var(--time-begin);
    -o-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -o-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -moz-animation-name: var(--contentWebsite-introduction-back3-animName-img);
    -moz-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -moz-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -moz-animation-delay: var(--time-begin);
    -moz-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -moz-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -webkit-animation-name: var(--contentWebsite-introduction-back3-animName-img);
    -webkit-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -webkit-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -webkit-animation-delay: var(--time-begin);
    -webkit-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -webkit-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    filter: var(--contentWebsite-introduction-back3-filter-img);
}
.content-website .introduction .back4 img {
    animation-name: var(--contentWebsite-introduction-back4-animName-img);
    animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    animation-delay: var(--time-begin);
    animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -o-animation-name: var(--contentWebsite-introduction-back4-animName-img);
    -o-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -o-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -o-animation-delay: var(--time-begin);
    -o-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -o-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -moz-animation-name: var(--contentWebsite-introduction-back4-animName-img);
    -moz-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -moz-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -moz-animation-delay: var(--time-begin);
    -moz-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -moz-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    -webkit-animation-name: var(--contentWebsite-introduction-back4-animName-img);
    -webkit-animation-duration: var(--contentWebsite-introduction-back-animDuration-img);
    -webkit-animation-iteration-count: var(--contentWebsite-introduction-back-animIterCount-img);
    -webkit-animation-delay: var(--time-begin);
    -webkit-animation-fill-mode: var(--contentWebsite-introduction-back-animFillmode-img);
    -webkit-animation-timing-function: var(--contentWebsite-introduction-back-animTFunc-img);
    filter: var(--contentWebsite-introduction-back4-filter-img);
}

.content-website .introduction{
    position: var(--contentWebsite-pos-introduction);
    width: var(--contentWebsite-width-introduction);
    height: var(--contentWebsite-height-introduction);
    overflow: hidden;
    background-color: var(--r-bg-contentWebsite-contactUs);
}

.content-website .introduction .text {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    height: var(--contentWebsite-introduction-height-text);
    text-align: var(--contentWebsite-introduction-textA-text);
    align-items: var(--contentWebsite-introduction-alignI-text);
    justify-content: var(--contentWebsite-introduction-justifyC-text);
    color: var(--r-cl-content);
}

.content-website .introduction .text h1{
    font-family: TopicName;
    font-size: var(--contentWebsite-introduction-text-fontS-h1);
}

.content-website .introduction .text p{
    display: var(--contentWebsite-introduction-text-display-p);
    font-family: ContentFont;
    font-size: var(--contentWebsite-introduction-text-fontS-p);
    width: var(--contentWebsite-introduction-text-width-p);
}