.content-website .contactus{
    position: relative;
    min-height: var(--contentWebsite-height-contactus);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--r-bg-contentWebsite-contactUs);
    color: var(--r-cl-content);
    align-items: center;
}

.content-website .contactus .text{
    font-family: ContentFont;
    padding: var(--contentWebsite-contactus-padding-Text);
}

.content-website .contactus .text span{
    font-family: TopicName;
    font-size: var(--r-fontS-topicName);
    letter-spacing: var(--r-letterS-topicName);
}

.content-website .contactus .text p {
    font-family: ContentFont;
}

.content-website .contactus form{
    display: grid;
    grid-gap: var(--contentWebsite-contactus-margin-InputTex);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.content-website .contactus .form-contact input, .content-website .contactus .form-contact textarea {
    margin: var(--contentWebsite-contactus-formContact-margin-Text);
    font-size: var(--r-fontS-content);
    padding: var(--contentWebsite-contactus-formContact-padding-Text);
    border: none;
    background-color: transparent;
    color: var(--r-cl-content);
    border: var(--contentWebsite-contactus-formContact-bdW-Text) solid var(--r-cl-content);
    border-radius: var(--contentWebsite-contactus-formContact-bdR-Text);
    outline: none;
}

.content-website .contactus .form-contact textarea {
    resize:none;
    font-size: var(--r-fontS-content);
    text-align: justify;
}

.content-website .contactus .form-contact .form-name {
    grid-column: span 3;
    grid-row: 1;
    margin-right: calc(0.5 * var(--r-gap));;
}

.content-website .contactus .form-contact .form-email{
    grid-column: span 3;
    grid-row: 1;
    margin-left: calc(0.5 * var(--r-gap));
}


.content-website .contactus .form-contact .form-phone {
    grid-column-end: span 6;
}
.content-website .contactus .form-contact .form-message{
    grid-column-end: span 6;
}

.content-website .contactus .form-contact .button-send{
    margin: var(--contentWebsite-contactus-margin-buttonSend);
    font-size: var(--r-fontS-content);
    font-family: ContentFont;
    cursor: pointer;
    grid-column: 6;
    text-align: center;
    border: none;
    height: var(--contentWebsite-contactus-formContact-height-buttonSend);
    width: var(--contentWebsite-contactus-formContacts-width-buttonSend);
    border-radius: var(--contentWebsite-contactus-formContact-bdR-buttonSend);
    background-color: var(--r-bg-button);
    color: var(--r-cl-content);
    transition-duration: var(--contentWebsite-contactus-transiDuration-buttonSend);
    -o-transition-duration: var(--contentWebsite-contactus-transiDuration-buttonSend);
    -moz-transition-duration: var(--contentWebsite-contactus-transiDuration-buttonSend);
    -webkit-transition-duration: var(--contentWebsite-contactus-transiDuration-buttonSend);
}

.content-website .contactus .form-contact .button-send:hover {
    letter-spacing: var(--contentWebsite-contactus-formContacts-letterS-buttonSend_Hover);
}