@font-face {
    font-family: TopicName;
    src: url("../../asserts/Merriweather-Bold.ttf");
}
@font-face {
    font-family: ContentFont;
    src: url('../../asserts/static/Mulish-Light.ttf');
}

@font-face {
    font-family: Button;
    src: url('../../asserts/Mulish-VariableFont_wght.ttf');
}